.image_accueil {
  height: 223px;
  background: url("../../../public/images/image-accueil.png") center/cover;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 3px;

  max-width: 1240px;
  margin: 0 auto 43px;
  h2 {
    color: white;
    // filter: brightness(100%);
  }
}

@media (max-width: 1300px) {
  .image_accueil {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 750px) {
  .image_accueil {
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;

    h2 {
      font-size: 24px;
      padding: 0 20px;
    }
  }
}
