@import "./settings";
@import "./components/navigation";
@import "./components/image_accueil";
@import "./components/gallery";
@import "./components/footer";
@import "./components/pages/error";
@import "./components/cards";
@import "./components/pages/_banner-a-propos";
@import "./components/buttonDisplay";
@import "./components/carousel";
@import "./components/pages/_logements";
@import "./components/tags";
@import "./components/star";
